@model IEnumerable<class_project.Models.Record>

@{
    ViewBag.Title = "Detail";
}

<div class="bg-dark text-white jumbotron m-4">
    <div class="row">
        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
            <h4 class="display-4">@Model.First().Athlete.Person.FirstName @Model.First().Athlete.Person.LastName</h4>
        </div>
        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
            <p class="lead"><span class="font-weight-bold">Races On Record: </span>@Model.Count()</p>
            <button data-athlete="@Model.First().AthleteID" class="btn btn-block btn-info athlete-stats-btn">SHOW STATS</button>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 result" data-athlete="@item.AthleteID" data-event="@item.EventID" data-location="@item.MeetID">
            <dl class="rounded shadow m-4 p-4 bg-dark text-white">
                <div class="row">
                    <div class="col-md-12">
                        <dt><h4 class="text-primary">Name</h4></dt>
                        <dd><h2>@($"{item.Athlete.Person.FirstName} {item.Athlete.Person.LastName}")</h2></dd>
                    </div>
                    <div class="col-md-12">
                        <hr />
                    </div>
                    <div class="col-md-6">
                        <dt><h4 class="text-primary">Event</h4></dt>
                        <dd><h3><a class="link-plain" href="?eventID=@item.EventID">@item.Event.Name</a></h3></dd>
                    </div>
                    <div class="col-md-6">
                        <dt><h4 class="link-plain">Meet</h4></dt>
                        <dd><h3><a class="link-plain" href="?meetID=@item.MeetID">@item.Meet.Location</a></h3></dd>
                    </div>
                    <div class="col-md-12 bg-info rounded p-3 mt-4 border border-white text-center">
                        <dt><h4>Time</h4></dt>
                        <dd><h3>@item.Time</h3></dd>
                    </div>
                </div>
            </dl>
        </div>
    }
</div>
@if(ViewBag.Return == true)
{
<div class="row">
    <div class="col-md-12">
        <div class="mx-4 p-4 bg-dark rounded d-flex flex-column align-items-center justify-content-center">
            <a href="@Request.Url.GetLeftPart(UriPartial.Path)" class="btn btn-info">Show All</a>
        </div>
    </div>
</div>
}

<div class="modal" id="statsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Race Stats for <span id="modalAthleteName"></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


