@model FODfinder.Models.Food.FoodDetailsModels
@using Newtonsoft.Json.Linq
@{
    ViewBag.Title = "Details";
}

@if (Model == null)
{
    <p class="bg-secondary display-4 p-2 my-4 rounded shadow text-white text-center">FOOD NOT FOUND.</p>
}
else
{
    @Styles.Render("~/Content/archivo-black.css")
    @Styles.Render("~/Content/nutritionLabel-min.css")


    @Html.React("FoodDetails", new
    {
        details = JObject.FromObject(Model).ToString()
    })
    @Scripts.Render("~/bundles/React")
    @Scripts.Render("~/bundles/FoodDetails")
    @Html.ReactInitJavaScript()
}

