@model FODfinder.Models.Food.FoodSearchResult
@using Newtonsoft.Json.Linq

@{
    ViewBag.Title = "Index";
}

@section scripts {
    @Scripts.Render("~/Scripts/axios.min.js")
}

@Styles.Render("~/Content/font-awesome.min.css")
<div class="container-fluid bg-secondary p-4 rounded-bottom">
    <div class="container d-flex justify-content-center align-items-center bg-primary rounded p-4">
        @using (Html.BeginForm("Index", "Food", FormMethod.Get, new { @class = "form-inline w-100" }))
        {
            <div class="input-group flex-lg-fill">
                <div class="input-group-prepend d-none d-lg-flex">
                    <span class="input-group-text">Search:</span>
                </div>
                @Html.TextBox("query", "", new { @class = "form-control" })
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">Go!</button>
                </div>
            </div>
        }
    </div>

    @if (Model == null)
    {
        <p class="bg-secondary display-4 p-2 my-4 rounded shadow text-white text-center">Powered By USDA FoodData Central</p>
    }
    else
    {
        @Html.React("FoodSearchResults", new
        {
            results = JArray.FromObject(Model.Foods).ToString(),
            currentPage = Model.CurrentPage,
            totalPages = Model.TotalPages,
            totalHits = Model.TotalHits,
            query = Model.Query
        })

        <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
        <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>
        @Scripts.Render("~/bundles/FoodSearchResults")
        @Html.ReactInitJavaScript()
    }
</div>
