@model FODfinder.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="container-fluid pt-4">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow">
                <div class="card-header bg-secondary text-gray text-center">
                    <h4>Change Password</h4>
                </div>
                <div class="card-body d-flex justify-content-center">
                    <div class="container-fluid">
                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text text-gray bg-secondary">
                                            @Html.LabelFor(m => m.OldPassword, new { id = "ChangePasswordFormLabel" })
                                        </div>
                                    </div>
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Current password..." })
                                </div>
                                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text text-gray bg-secondary">
                                            @Html.LabelFor(m => m.NewPassword, new { id = "ChangePasswordFormLabel" })
                                        </div>
                                    </div>
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New password..." })
                                </div>
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text text-gray bg-secondary">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { id = "ChangePasswordFormLabel" })
                                        </div>
                                    </div>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm new password..." })
                                </div>
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="submit" value="Change password" class="btn btn-primary mx-auto w-75" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}