<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - FODfinder</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light shadow">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-center" id="navbarSupportedContent">
                    <a href="/Home/Index"><img class="img-fluid pt-1" src="~/Content/Images/logo.png" style="height: 60px" /></a>
                    <div>
                        <ul class="nav navbar-nav">
                            <li class="nav-item">@Html.ActionLink("Food Search", "Index", "Food", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("User Search", "Search", "UserProfiles", null, new { @class = "nav-link" })</li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                    Information
                                </a>
                                <div class="dropdown-menu">
                                    @Html.ActionLink("What is IBS?", "Index", "IbsInfo", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("What's a FODMAP?", "Index", "FodmapInfo", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("How does it work?", "Index", "AlgoInfo", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Browse FODMAPs", "CommonFodmap", "FodmapInfo", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("User Labelled Risky Ingredients", "Index", "HighRiskLabelledIngredients", null, new { @class = "dropdown-item" })
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                    Contribute
                                </a>
                                <div class="dropdown-menu">
                                    @Html.ActionLink("Contact us", "Contact", "Contact", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Donate", "Index", "Donate", null, new { @class = "dropdown-item" })
                                </div>
                            </li>
                        </ul>
                    </div>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10">
                    @RenderBody()
                    <hr />
                    <footer class="text-center">
                        <p>FODfinder &copy; @DateTime.Now.Year - The Alphabytes</p>
                    </footer>
                </div>
            </div>
        </div>
        @Scripts.Render("~/Scripts/umd/popper.min.js")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>