@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">@Html.ActionLink("Manage Users", "Index", "User", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
        </ul>
    }
    <div class="ml-auto">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    Hello @User.Identity.GetUserName()
                </a>
                <div class="dropdown-menu">
                    @Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })
                    @Html.ActionLink("View Saved Foods", "Index", "SavedFoods", null, new { @class = "dropdown-item"})
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
        }
    </div>
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
