@model FODfinder.Models.RegisterViewModel
@using reCAPTCHA.MVC
@{
    ViewBag.Title = "Register";
}

<div class="container-fluid pt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow">
                <div class="card-header bg-secondary text-gray text-center">
                    <h4>Create An Account</h4>
                </div>
                <div class="card-body d-flex justify-content-center">
                    <div class="container-fluid">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "container-fluid p-1", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text text-gray bg-secondary">
                                            @Html.LabelFor(m => m.Email, new { id = "RegisterFormLabel" })
                                        </div>
                                    </div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "example@email.com" })
                                </div>
                                <span class="container">
                                    Make email public     &nbsp; &nbsp;
                                    @Html.CheckBoxFor(m => m.showContact, new { @checked = true })
                                </span>
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text text-gray bg-secondary">
                                            @Html.LabelFor(m => m.UserName, new { id = "RegisterFormLabel" })
                                        </div>
                                    </div>
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Usernames are NOT case-sensitive" })
                                </div>
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text text-gray bg-secondary">
                                            @Html.LabelFor(m => m.Password, new { id = "RegisterFormLabel" })
                                        </div>
                                    </div>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "6-100 characters" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text text-gray bg-secondary">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { id = "RegisterFormLabel" })
                                        </div>
                                    </div>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
                                </div>
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text text-gray bg-secondary">
                                            @Html.LabelFor(m => m.firstName, new { id = "RegisterFormLabel" })
                                        </div>
                                    </div>
                                        @Html.TextBoxFor(m => m.firstName, new { @class = "form-control" })
                                    
                                    @Html.ValidationMessageFor(m => m.firstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text text-gray bg-secondary">
                                            @Html.LabelFor(m => m.lastName, new { id = "RegisterFormLabel" })
                                        </div>
                                    </div>
                                        @Html.TextBoxFor(m => m.lastName, new { @class = "form-control" })
                                    
                                    @Html.ValidationMessageFor(m => m.lastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text text-gray bg-secondary">
                                            @Html.LabelFor(m => m.birthdate, new { id = "RegisterFormLabel" })
                                        </div>
                                    </div>
                                        @Html.EditorFor(m => m.birthdate, new { @class = "form-control" })
                                    
                                </div>
                                @Html.ValidationMessageFor(m => m.birthdate, "", new { @class = "text-danger" })
                            <span class="container">
                                Make date of birth public     &nbsp; &nbsp;
                                @Html.CheckBoxFor(m => m.showAge, new { @checked = true })
                            </span>
                            </div>
                            
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text text-gray bg-secondary">
                                            @Html.LabelFor(m => m.gender, new { id = "RegisterFormLabel" })
                                        </div>
                                    </div>
                                    @Html.DropDownListFor(m => m.gender, new List<SelectListItem>
                                       {
                                           new SelectListItem{ Text="Other/Prefer not to say"},
                                           new SelectListItem{ Text="Male"},
                                           new SelectListItem{ Text="Female"},
                                           new SelectListItem{ Text="Nonbinary"}
                                       }, new { @class = "custom-select" })
                                </div>
                                @Html.ValidationMessageFor(m => m.gender, "", new { @class = "text-danger" })
                            <span class="container">
                                Make gender public     &nbsp; &nbsp;
                                @Html.CheckBoxFor(m => m.showGender, new { @checked = true })
                            </span>
                            </div>
                            
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text text-gray bg-secondary">
                                            @Html.LabelFor(m => m.country, new { id = "RegisterFormLabel" })
                                        </div>
                                    </div>
                                        @Html.DropDownListFor(m => m.country, new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text="North America"},
                                            new SelectListItem{ Text="South America"},
                                            new SelectListItem{ Text="Central America"},
                                            new SelectListItem{ Text="Africa"},
                                            new SelectListItem{ Text="Australia"},
                                            new SelectListItem{ Text="Europe"},
                                            new SelectListItem{ Text="Asia"},
                                            new SelectListItem{ Text="Somewhere else"}
                                        }, new { @class = "custom-select" })
                                    
                                    @Html.ValidationMessageFor(m => m.country, "", new { @class = "text-danger" })
                                <span class="container">
                                    Make location public     &nbsp; &nbsp;
                                    @Html.CheckBoxFor(m => m.showCountry, new { @checked = true })
                                </span>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text text-gray bg-secondary">
                                            @Html.LabelFor(m => m.ethnicity, new { id = "RegisterFormLabel" })
                                        </div>
                                    </div>
                                        @Html.DropDownListFor(m => m.ethnicity, new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text="Prefer not to say"},
                                            new SelectListItem{ Text="Black"},
                                            new SelectListItem{ Text="Native American"},
                                            new SelectListItem{ Text="Asian"},
                                            new SelectListItem{ Text="Native Hawaiian or Other Pacific Islander"},
                                            new SelectListItem{ Text="Hispanic or Latino"},
                                            new SelectListItem{ Text="White"}
                                        }, new { @class = "custom-select" })
                                    
                                    @Html.ValidationMessageFor(m => m.ethnicity, "", new { @class = "text-danger" })
                                <span class="container">
                                    Make ethnicity public     &nbsp; &nbsp;
                                    @Html.CheckBoxFor(m => m.showEthnicity, new { @checked = true })
                                </span>
                                </div>
                            </div>
                            <input type="hidden" id="profileImgUrl" name="profileImgUrl" value="profilepic1" />

                            <div class="container pt-4 pb-4">
                                Make profile public     &nbsp; &nbsp;
                                @Html.CheckBoxFor(m => m.is_public, new { @checked = true })
                            </div>

                            <div class="form-group">
                                <div class="d-flex justify-content-center">
                                    @Html.Recaptcha()
                                </div>
                                <div class="col-md text-center">
                                    @Html.ValidationMessage("ReCaptcha", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="submit" class="btn btn-primary mx-auto w-75" value="Create An Account" />
                                </div>
                            </div>
                            <div class="row justify-content-center text-center">
                                <p>
                                    @Html.ActionLink("Already have an account? Sign in", "Login")
                                </p>
                            </div>
                        }
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
