@{
    ViewBag.Title = "Home Page";
}

<div class="container pt-3">
    <!--
    <div class="row d-flex justify-content-center">
        <div class="col-lg-3">
            <div class="card shadow">
                <div class="card-header text-center bg-secondary text-white py-0">
                    <h1>IBS</h1>
                </div>
                <div class="card-body text-muted text-center">
                    <h4>
                        To learn more about IBS, click here!
                    </h4>
                    @Html.ActionLink("Learn More", "index", "IbsInfo", null, new
                    {
                        @class = "btn btn-primary",
                        id = "button"
                    })
                </div>
            </div>
        </div>
    </div>
    -->
    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="p-4 b-left-lg-4 rounded s-lg-right d-flex flex-column justify-content-between">
                <p class="display-4">FODFinder</p>
                <p class="lead">What can you do here?</p>
                <p class="text-body">&emsp;This website is a free resource for learning about <a href="@Url.Action("Index","IbsInfo")">IBS</a> and <a href="@Url.Action("Index","FodmapInfo")">FODMAPs</a>, searching for foods to see if they're compatible with a low-FODMAP diet, and saving those results for your later convenience in shopping, meal prep, and everyday life.</p>
                <p class="text-muted">Curious? Try searching a food, like "chili" or "bananas", in the search bar</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="p-4 d-flex flex-column justify-content-center h-100 align-items-center">
                @using (Html.BeginForm("Index","Food",FormMethod.Get, new { @class="form-inline"}))
                {
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Search</span>
                    </div>
                    @Html.TextBox("query", "", new { @class = "form-control", required = true})
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit">Go!</button>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-4">
            <div class="card shadow h-100">
                <div class="card-header bg-info text-white">
                    <p class="text-center">IBS Info</p>
                </div>
                <div class="card-body">
                    Not sure what IBS is (or even stands for)? You're in luck! We've done the research, cross-referenced sources, and compiled a short information page to help you learn about the condition.
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Index","IbsInfo")" class="btn btn-info">IBS</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card shadow h-100">
                <div class="card-header bg-info text-white">
                    <p class="text-center">FODMAP Info</p>
                </div>
                <div class="card-body">
                    FODMAP is an initialism (or an acronym, depending on how you say it). Do you know what it means? If not, check out our FODMAP information page.
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Index","FodmapInfo")" class="btn btn-info">FODMAPs</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card shadow h-100">
                <div class="card-header bg-info text-white">
                    <p class="text-center">Contact Us</p>
                </div>
                <div class="card-body">
                    We'll admit it; we're humans too. We make mistakes, overlook things, or sometimes just lack the persepctive someone else may have. We also sometimes do a good job. In either case, feel free to stop by our Contact page and send us a message. We'll get back to you as soon as possible.
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Contact","Contact")" class="btn btn-info">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>