@model IEnumerable<FODfinder.Models.FODMAPIngredient>

@{
    ViewBag.Title = "Search";
}
        
        @Styles.Render("~/Content/font-awesome.min.css")
    <div class="container-fluid bg-secondary p-4 rounded-bottom">
        <div class="container d-flex justify-content-center align-items-center rounded p-4">
            @using (Html.BeginForm("Search", "FODMAPIngredients", FormMethod.Get, new { @class = "form-inline w-100" }))
            {
                @Html.AntiForgeryToken()
                <div class="input-group flex-lg-fill">
                    <div class="input-group-prepend d-none d-lg-flex">
                        <span class="input-group-text">Search:</span>
                    </div>
                    @Html.TextBox("search", null, new { @class = "form-control", type = "text", style = "", name = "search" })
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Go!</button>
                    </div>
                </div>
            }
        </div>
        <p class="bg-secondary display-4 p-2 my-4 rounded shadow text-gray text-center">Search if an ingredient is high FODMAP</p>

        @if (ViewBag.Success ?? false)
        {
            <div class="container">
                <div class="row card rounded">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr class="col-10">
                                <th>
                                    INGREDIENT:
                                </th>
                                <th>
                                    ALSO LISTED AS:
                                </th>
                            </tr>
                        </thead>
                        @foreach (var ingredient in Model)
                        {
                            <tr class="col-10">
                                <td>
                                    @Html.DisplayFor(modelItem => ingredient.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => ingredient.Aliases)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }
        else if (ViewBag.Success == false)
        {
            <br />
            <div class="container d-flex justify-content-center align-items-center bg-primary rounded p-4">
                <p style="color:aliceblue;">
                    We did not find any ingredients that matched your search.
                    This ingredient is <i>probably</i> not a FODMAP. If you would
                    like more information, please see our list of <b><a style="color:aliceblue" href="/FODMAPIngredients/Browse">FODMAP Ingredients</a></b>
                    or our <b><a style="color:aliceblue" href="/FodmapInfo/Index">FODMAP info page</a></b>.
                </p>
            </div>
        }
    </div>
