@model IEnumerable<FODfinder.Models.HighRiskLabelledIngredient>

@{
    ViewBag.Title = "UserFodmap";
}

    <div class="container-fluid bg-secondary p-4 rounded-bottom justify-content-center">
        <div class="col-12">
            <p class="bg-secondary display-4 p-2 my-4 rounded shadow text-gray text-center">User Labelled High Risk Ingredients</p>
        </div>
        <div class="row justify-content-center pb-2">
            <p class="text-success">@ViewBag.StatusMessage</p>
        </div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ingredientName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.countOfLabelOccurences)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ingredientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.countOfLabelOccurences)
                    </td>
                    <td>
                        @using (Html.BeginForm("AddFodmap", "Admin", FormMethod.Post, new { @class = "container-fluid p-1", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <input class="form-control" data-val="true" data-val-length="The field Ingredient Name must be a string with a maximum length of 50." data-val-length-max="50" data-val-required="The Ingredient Name field is required." id="Name" name="Name" type="hidden" value="@item.ingredientName">
                            <input type="hidden" name="previousAction" id="previousAction" value="UserFodmap" />
                            <input type="submit" class="btn btn-primary mx-auto w-75" value="Add FODMAP" />
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
