@model IEnumerable<FODfinder.Models.SavedFood>

@{
    ViewBag.Title = "Index";
}

    <div class="container-fluid pt-5 pb-5 rounded bg-secondary">
        <div class="row justify-content-center">
            <h1 class="text-gray mb-0">@ViewBag.ListName</h1>
        </div>
        <div class="row justify-content-center">
            <p>
                <a class="text-gray" href="/UserLists/Edit/@ViewBag.ListID">Rename</a> |
                <a class="text-gray" href="/UserLists/Delete/@ViewBag.ListID">Delete</a> |
                <a class="text-gray" href="/UserLists/Index">Go Back</a>
            </p>
        </div>
        <div class="row justify-content-center">
            <h5 class="text-gray">Total Saved Foods: @ViewBag.TotalSavedFoods</h5>
        </div>


        <div class="container pt-2">
            <div class="list-group">
                <div class="list-group-item bg-secondary">
                    <div class="row text-gray h5 mb-0">
                        <div class="col-3">Food</div>
                        <div class="col-3">Brand</div>
                        <div class="col-3">UPC</div>
                    </div>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="list-group">
                    <div class="list-group-item FoodLink" onclick="location.href='/food/details/@item.usdaFoodID'">
                        <div class="row text-gray text-capitalize">
                            <div class="col-3 align-self-center">
                                @item.desc.ToLower()
                            </div>
                            <div class="col-3 align-self-center">
                                @item.brand.ToLower()
                            </div>
                            <div class="col-3 align-self-center">
                                @item.upc
                            </div>
                            <div class="col-3 align-self-center">
                                @Html.ActionLink("Delete", "Delete", new { usdaFoodID = item.usdaFoodID, listID = item.listID }, new { @class = "btn btn-light" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>